<?xml version="1.0" encoding="UTF-8"?>

<Umsci configVersion="1.0.0">
  <CONNECTIONCONFIG ENABLED="0" IP="127.0.0.1" PORT="50014"/>
  <VISUCONFIG>
    <LOOKANDFEEL>2</LOOKANDFEEL>
    <CONTROLCOLOUR>4</CONTROLCOLOUR>
    <CONTROLFORMAT>15</CONTROLFORMAT>
    <CONTROLSIZE>22</CONTROLSIZE>
  </VISUCONFIG>
  <CONTROLCONFIG IOSIZE="128x64"/>
  <UPMIXCONFIG UPMIXSOURCESTARTID="1" UPMIXLIVEMODE="0" UPMIXSHAPE="Circle" UPMIXSHOWALLSOURCES="1">rot=0.0;scale=1.0;heightScale=0.6;angleStretch=1.0;offsetX=0.0;offsetY=0.0</UPMIXCONFIG>
</Umsci>
